<!DOCTYPE html>
<html lang=en-US>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->

<%- include('./inc/header.ejs') %>





    <body class="page-template-default page page-id-81 wp-embed-responsive single-3 wpb-js-composer js-comp-ver-5.7 vc_responsive">
        <div id=page class="wrapper site">
            <div class=canvas-overlay></div>


            <%- include('./inc/nav.ejs') %>

                <div id=content class=site-content>
                    <div class=container>
                        <div class=row>
                            <div class="site-main col-sm-12 " role=main>


                                <div class=page-content>
                                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1544020987815 vc_row-has-fill">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class=vc_column-inner>
                                                <div class=wpb_wrapper>
                                                    <div class="box-sliders  sliders-column1">
                                                        <div class=article-carousel data-rtl=false data-table=1 data-number=1 data-mobile="1" data-mobilemin="1" data-dots=false data-arrows=true>


                                                            <% homeArticles.forEach( hA => {  %>

                                                                <article class="post-item slider-full clearfix post-582 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion-style category-lifestyle tag-fashion tag-healthy tag-lifestyle">
                                                                    <div class=article-slider>
                                                                        <div class="post-image lazy" style="background-image:url(&#039;https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga15.jpg&#039;)">
                                                                            <a href=../2017/07/29/dont-forget-about-yourself/index.html></a>
                                                                        </div>
                                                                        <span class=bg-rgb></span>
                                                                        <div class=article-content>
                                                                            <div class="entry-header clearfix">
                                                                                <header class=entry-header-title>
                                                                                    <h3 class="entry-title">
                                                                                        <a href=/articles/<%=hA.slug %> rel=bookmark>
                                                                                            <%=  hA.title  %>
                                                                                        </a>
                                                                                    </h3>
                                                                                </header>
                                                                                <span class=post-cat>  <a
href=../category/fashion-style/index.html   title="View all posts in Fashion &amp; Style" >
<%= hA.category  %>  </a></span>
                                                                                <div class="article-meta clearfix">
                                                                                    <span class=posted-on><span
class=screen-reader-text>Posted on </span><a href=../2017/07/29/dont-forget-about-yourself/index.html rel=bookmark><time
class="entry-date published" datetime=2017-07-29T02:47:17+00:00>July 29, 2017</time><time
class=updated datetime=2018-12-05T02:26:37+00:00>December 5, 2018</time></a></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>

                                                                <%  })   %>



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class=vc_column-inner>
                                                <div class=wpb_wrapper>
                                                    <div class="block block-banner-category">
                                                        <div class="block-title  clearfix"></div>
                                                        <div class="block-content box-banner-category clearfix">
                                                            <div class=article-carousel data-rtl=false data-table=3 data-number=3 data-mobile="2" data-mobilemin="2" data-dots=false data-arrows=false>
                                                                <div class="banner-category-box col-item clearfix">
                                                                    <div class=box-image>
                                                                        <a href=../category/tips-tricks/index.html>
                                                                            <img width=445 height=250 src=../wp-content/uploads/2017/08/bloga12-870x489.jpg class="attachment-447x250 size-447x250" alt srcset="https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga12-870x489.jpg 870w, https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga12-895x503.jpg 895w"
                                                                                sizes="(max-width: 445px) 100vw, 445px"> </a>
                                                                    </div>
                                                                    <div class="box-content clearfix">
                                                                        <div class=box-content-inner>
                                                                            <h3 class="title-box"><a href=../category/tips-tricks/index.html> Pathology </a></h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="banner-category-box col-item clearfix">
                                                                    <div class=box-image>
                                                                        <a href=../category/fashion-style/index.html>
                                                                            <img width=445 height=250 src=../wp-content/uploads/2017/08/bloga15-870x489.jpg class="attachment-447x250 size-447x250" alt srcset="https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga15-870x489.jpg 870w, https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga15-895x503.jpg 895w"
                                                                                sizes="(max-width: 445px) 100vw, 445px"> </a>
                                                                    </div>
                                                                    <div class="box-content clearfix">
                                                                        <div class=box-content-inner>
                                                                            <h3 class="title-box"><a href=../category/fashion-style/index.html> Eye Care</a></h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="banner-category-box col-item clearfix">
                                                                    <div class=box-image>
                                                                        <a href=../category/lifestyle/index.html>
                                                                            <img width=445 height=250 src=../wp-content/uploads/2017/08/bloga11-870x489.jpg class="attachment-447x250 size-447x250" alt srcset="https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga11-870x489.jpg 870w, https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga11-895x503.jpg 895w"
                                                                                sizes="(max-width: 445px) 100vw, 445px"> </a>
                                                                    </div>
                                                                    <div class="box-content clearfix">
                                                                        <div class=box-content-inner>
                                                                            <h3 class="title-box"><a href=../category/lifestyle/index.html>Lifestyle</a></h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="banner-category-box col-item clearfix">
                                                                    <div class=box-image>
                                                                        <a href=#>
                                                                            <img width=445 height=250 src=../wp-content/uploads/2017/08/blog2-1-870x489.jpg class="attachment-447x250 size-447x250" alt srcset="https://ganesa.nanothemes.co/wp-content/uploads/2017/08/blog2-1-870x489.jpg 870w, https://ganesa.nanothemes.co/wp-content/uploads/2017/08/blog2-1-895x503.jpg 895w"
                                                                                sizes="(max-width: 445px) 100vw, 445px"> </a>
                                                                    </div>
                                                                    <div class="box-content clearfix">
                                                                        <div class=box-content-inner>
                                                                            <h3 class="title-box"><a href=#>Fashion</a></h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="banner-category-box col-item clearfix">
                                                                    <div class=box-image>
                                                                        <a href=#>
                                                                            <img width=445 height=250 src=../wp-content/uploads/2017/08/bloga16-870x489.jpg class="attachment-447x250 size-447x250" alt srcset="https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga16-870x489.jpg 870w, https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga16-895x503.jpg 895w"
                                                                                sizes="(max-width: 445px) 100vw, 445px"> </a>
                                                                    </div>
                                                                    <div class="box-content clearfix">
                                                                        <div class=box-content-inner>
                                                                            <h3 class="title-box"><a href=#>Occupational Eye Care</a></h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 vc_col-md-12">
                                            <div class="vc_column-inner vc_custom_1543393732482">
                                                <div class=wpb_wrapper>
                                                    <div class="wrapper-posts box-recent type-loadMore layout-list style-no" data-layout=list data-paged=3 data-cat=beauty,fashion-style,lifestyle,tips-tricks data-number=9 data-ads>
                                                        <div class="archive-blog affect-isotope row clearfix">

                                                            <script>
                                                            </script>

                                                            <% articles.forEach( article => {  %>



                                                                <div class="col-item col-md-12 col-sm-12 col-xs-12">
                                                                    <article class="post-item post-list clearfix post-756 post type-post status-publish format-standard has-post-thumbnail hentry category-beauty category-lifestyle tag-fashion tag-lifestyle tag-news tag-style">
                                                                        <div class=article-image>
                                                                            <div class=post-image>
                                                                                <span class=bgr-item></span>
                                                                                <a href=/articles/<%=article.slug %>>
                                                                                    <img class=lazy src="data:image/<%=article.img.contentType%>;base64,
                                                                                    <%=article.img.data.toString('base64')%>"  alt=post-image>
                                                                                </a>
                                                                            </div>
                                                                            <script>
                                                                                var articleUrl = window.location.href + '/' + '<%= article.slug %>';
                                                                            </script>

                                                                            <div class=social-share>
                                                                                <div class="social share-links clearfix">
                                                                                    <ul class="social-icons list-unstyled list-inline">
                                                                                        <li class="social-item facebook">
                                                                                            <a href="http://www.facebook.com/sharer.php?u=localhost:5000/articles/<%=article.slug%>" title=facebook class="post_share_facebook facebook" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=220,width=600');return false;">
                                                                                                <i class="fa fa-facebook"></i>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="social-item twitter">
                                                                                            <a href="https://twitter.com/share?url=localhost:5000/articles/<%=article.slug%>+/&amp;text=<%=article.title%>" title=twitter onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=260,width=600');return false;"
                                                                                                class="product_share_twitter twitter">
                                                                                                <i class="fa fa-twitter"></i>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="social-item google">
                                                                                            <a href="https://plus.google.com/share?url=https://ganesa.nanothemes.co/2017/08/04/building-a-creative-space/" class=googleplus title="google +" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                                                                <i class="fa fa-google-plus"></i>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="social-item linkedin">
                                                                                            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://ganesa.nanothemes.co/2017/08/04/building-a-creative-space/&amp;title=pinterest&amp;summary=Building+a+Creative+Space&amp;source=Building%20a%20Creative%20Space">
                                                                                                <i class="fa fa-linkedin"></i>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="social-item pinterest">
                                                                                            <a href="http://pinterest.com/pin/create/button/?url=https://ganesa.nanothemes.co/2017/08/04/building-a-creative-space/&amp;media=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga1.jpg&amp;description=Building+a+Creative+Space" title=pinterest
                                                                                                class=pinterest>
                                                                                                <i class="fa fa-pinterest"></i>
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="article-content ">
                                                                            <div class="entry-header clearfix">
                                                                                <header class=entry-header-title>
                                                                                    <h3 class="entry-title">



                                                                                        <a href="/articles/<%= article.slug %>" rel=bookmark>
                                                                                            <%= article.title %>

                                                                                        </a>
                                                                                    </h3>
                                                                                </header>
                                                                            </div>
                                                                            <span class=post-cat>  <a href=../category/beauty/index.html   title="View all posts in Beauty" > <%= article.category %> </a> 
</span>
                                                                            <div class="article-meta clearfix">
                                                                                <span class=posted-on><span
class=screen-reader-text>Posted on </span><a href=../2017/08/04/building-a-creative-space/index.html rel=bookmark><time
class="entry-date published" datetime=2017-08-04T16:10:55+00:00><%= article.createdAt.toLocaleDateString() %></time><time
class=updated datetime=2018-12-02T09:09:55+00:00><%= article.createdAt.toLocaleDateString() %></time></a></span>
                                                                            </div>
                                                                            <div class=entry-content>

                                                                                <%- article.body.slice(0, 60).concat('...')  %>



                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                </div>

                                                                <%  })   %>





                                                        </div><span id=loadMore class=button>
Load More </span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidebar wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-12 vc_hidden-md vc_hidden-sm vc_hidden-xs">
                                            <div class="vc_column-inner vc_custom_1544070883184">
                                                <div class=wpb_wrapper>
                                                    <div class="wpb_widgetised_column wpb_content_element">
                                                        <div class=wpb_wrapper>
                                                            <aside id=slider_post-3 class="widget widget_slider_post">
                                                                <div class="archive-blog article-carousel" data-rtl=false data-table=2 data-number=1 data-mobile="1" data-mobilemin="1" data-dots=false data-arrows=false>
                                                                    <article class="post-item post-tran clearfix post-638 post type-post status-publish format-video has-post-thumbnail hentry category-fashion-style category-tips-tricks tag-health tag-lifestyle tag-live tag-travel post_format-post-format-video">
                                                                        <div class=article-image>
                                                                            <div class=post-image>
                                                                                <a href="../2017/07/29/group-of-five-female-sportswomen-having-legs-muscles-stretching-exercises-with-fitballs/index.html">
                                                                                    <img class=lazy src=../wp-content/uploads/2017/08/bloga18-530x698.jpg data-original=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga18-530x698.jpg data-src=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga18-530x698.jpg alt=post-image>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="article-content ">
                                                                            <div class=article-content-inner>
                                                                                <div class="entry-header clearfix">
                                                                                    <header class=entry-header-title>
                                                                                        <h3 class="entry-title"><a href=../2017/07/29/group-of-five-female-sportswomen-having-legs-muscles-stretching-exercises-with-fitballs/index.html rel=bookmark>What Are Your Visual Demands?</h3>
                                                                                    <span class=post-cat>  <a
href=../category/fashion-style/index.html   title="View all posts in Fashion &amp; Style" >
Tell me about what you think your eye needs, I will figure out the rest and get you what you need! </a> </span>

                                                                                    </header>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                    <article class="post-item post-tran clearfix post-545 post type-post status-publish format-audio has-post-thumbnail hentry category-lifestyle category-tips-tricks tag-body-spa tag-heavenly-spa tag-lifestyle tag-spa tag-travel post_format-post-format-audio">
                                                                        <div class=article-image>
                                                                            <div class=post-image>
                                                                                <a href="../2017/07/26/top-advice-for-travelling-as-a-big-ole-group/index.html">
                                                                                    <img class=lazy src=../wp-content/uploads/2017/08/bloga12-530x698.jpg data-original=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga12-530x698.jpg data-src=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga12-530x698.jpg alt=post-image>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="article-content ">
                                                                            <div class=article-content-inner>
                                                                                <div class="entry-header clearfix">
                                                                                    <header class=entry-header-title>
                                                                                        <h3 class="entry-title"><a href=../2017/07/26/top-advice-for-travelling-as-a-big-ole-group/index.html rel=bookmark>Top advice for travelling as a big ole group</a></h3> <span class=post-cat>  <a
href=../category/lifestyle/index.html   title="View all posts in Lifestyle" >
Lifestyle </a>
, <a
href=../category/tips-tricks/index.html  title="View all posts in Tips &amp; Tricks" >
Tips &amp; Tricks </a>
</span>
                                                                                        <div class="article-meta clearfix">
                                                                                            <span class=posted-on><span
class=screen-reader-text>Posted on </span><a href=../2017/07/26/top-advice-for-travelling-as-a-big-ole-group/index.html rel=bookmark><time
class="entry-date published" datetime=2017-07-26T14:57:03+00:00>July 26, 2017</time><time
class=updated datetime=2018-12-05T02:28:38+00:00>December 5, 2018</time></a></span>
                                                                                        </div>
                                                                                    </header>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                </div>
                                                            </aside>
                                                            <aside id=featured_post-4 class="widget widget_featured_post">
                                                                <h2 class="widgettitle">Featured Articles</h2>
                                                                <div class="article-content archive-blog">
                                                                    <div class=featured-post>


                                                                        <%  featuredArticles.forEach( article => {  %>


                                                                            <article class="post-item post-sidebar clearfix post-734 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-fashion tag-healthy tag-lifestyle">
                                                                                <div class=article-image>
                                                                                    <div class=post-image>
                                                                                        <a href="../2017/08/04/free-on-site-drinks-at-nanocofe/index.html">
                                                                                            <img class=lazy src=../wp-content/themes/ganesa/assets/images/layzyload-sidebar.jpg data-original=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga5-124x100.jpg data-src=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga5-124x100.jpg
                                                                                                alt=post-image>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="article-content side-item-text ">
                                                                                    <div class="entry-header clearfix">
                                                                                        <header class=entry-header-title>
                                                                                            <h3 class="entry-title">
                                                                                                <a href=../2017/08/04/free-on-site-drinks-at-nanocofe/index.html rel=bookmark>
                                                                                                    <%= article.title  %>
                                                                                                </a>
                                                                                            </h3>
                                                                                        </header>
                                                                                    </div>
                                                                                    <div class="article-meta clearfix">
                                                                                        <span class=posted-on><span
class=screen-reader-text>Posted on </span><a href=../2017/08/04/free-on-site-drinks-at-nanocofe/index.html rel=bookmark><time
class="entry-date published" datetime=2017-08-04T15:57:51+00:00>August 4, 2017</time><time
class=updated datetime=2018-12-01T09:55:23+00:00>December 1, 2018</time></a></span>
                                                                                    </div>
                                                                                </div>
                                                                            </article>


                                                                            <%  }) %>
                                                                    </div>
                                                                </div>
                                                            </aside>
                                                            <aside id=ganesa_videos-2 class="widget widget_videos">
                                                                <h2 class="widgettitle">Hot Videos</h2>
                                                            </aside>
                                                            <aside id=fb_page-5 class="widget widget_fb_page">
                                                                <h2 class="widgettitle">Find us on facebook</h2>
                                                                <div class=fb-page data-href=https://www.facebook.com/themenano/ data-adapt-container-width=true data-hide-cover=false data-show-facepile=true data-show-posts=false></div>
                                                            </aside>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('./inc/footer.ejs') %>

        </div>
        <script>
            (function() {
                function addEventListener(element, event, handler) {
                    if (element.addEventListener) {
                        element.addEventListener(event, handler, false);
                    } else if (element.attachEvent) {
                        element.attachEvent('on' + event, handler);
                    }
                }

                function maybePrefixUrlField() {
                    if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                        this.value = "http://" + this.value;
                    }
                }
                var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
                if (urlFields && urlFields.length > 0) {
                    for (var j = 0; j < urlFields.length; j++) {
                        addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
                    }
                }
                var testInput = document.createElement('input');
                testInput.setAttribute('type', 'date');
                if (testInput.type !== 'date') {
                    var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
                    for (var i = 0; i < dateFields.length; i++) {
                        if (!dateFields[i].placeholder) {
                            dateFields[i].placeholder = 'YYYY-MM-DD';
                        }
                        if (!dateFields[i].pattern) {
                            dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                        }
                    }
                }
            })();
        </script>
        <script>
            var wpcf7 = {
                "apiSettings": {
                    "root": "https:\/\/ganesa.nanothemes.co\/wp-json\/contact-form-7\/v1",
                    "namespace": "contact-form-7\/v1"
                },
                "cached": "1"
            };
        </script>
        <script src=../wp-content/cache/minify/c903a.js></script>
        <script>
            var NaScript = {
                "home_url": "https:\/\/ganesa.nanothemes.co\/",
                "ajax_url": "https:\/\/ganesa.nanothemes.co\/wp-admin\/admin-ajax.php?_wpnonce=8ed11daafd",
                "admin_theme_url": "https:\/\/ganesa.nanothemes.co\/wp-admin\/themes.php?_wpnonce=8ed11daafd"
            };
        </script>
        <script src=../wp-content/cache/minify/2757a.js></script>
        <script>
            var mc4wp_forms_config = [];
        </script>
        <script src=../wp-content/cache/minify/29e8b.js></script>
        <!--[if lte IE 9]> <script src='https://ganesa.nanothemes.co/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.5.0'></script> <![endif]-->
    </body>




</html>